<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This site gave you a weather information">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <title>Weather App</title>
</head>
<body>
    <nav style="display: flex;flex-direction: row;justify-content: center;margin:0;padding: 10px;">
        <form action="{% url 'main' %}" method="POST">
            {% csrf_token %}
            <div>
                <input type="text" placeholder="Write a coutry city or location" class="input input-bordered" name="city_name" style="width: 800px;">
                <button class="btn">🔍</button>
            </div>
        </form>
    </nav>
   
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>